// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #eeeeee;

  font-family: 'Roboto', sans-serif;
}
.page-header nav {
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px 40px;
  display: flex;
}
.document-search {
  flex-grow: 1;

}


.document-search input {
  display: block;
  height: 45px;
  background: #35ac72;
  border: none;
  border-radius: 5px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  color: #c2e6d5;
  margin-top: 3px;
  transition: background .2s, color .2s;
}

.document-search input:focus {
  background: #FFF;
  color: #666;
}
.document-search input::-webkit-input-placeholder {
  color: #c2e6d5;
  transition: color .2s;
}
.document-search input:focus::-webkit-input-placeholder {
  color: #666;
}

.document-list li {
  display: block;
  list-style-type: none;
  border-bottom: 1px solid #d9d9d9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #444;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  background: #FFF;
}

.document-logo {
  background: image-url("api/spreadsheeticon.png") center center no-repeat;
  background-size: 17px;
  width: 30px;
  display: inline-block;
  margin-right: 15px;
}

.document-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.document-date {
  width: 100px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

.document-owner {
  font-weight: normal;
  color: #999;
}

.document-list li:hover {
  background-color: #f1faf6;
  cursor: pointer;
}


ul.document-list {
  display: block;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}

.doc-header {
  height: 60px;
  display: block;
  background: #FFF;
}

.doc-home-link {
  float: left;
  height: 60px;
  background: #0f9d58 image-url("api/spreadsheeticon.png") center center no-repeat;
  width: 40px;
  display: block;
}
.doc-home-link a {
  display: block;
  height: 60px;
}

.document-picker {
  background: #394242;
  margin-bottom: 20px;
  padding-bottom: 15px;
  min-width: 400px;
}

.document-picker h2 {
  margin: 0 0 15px 10px;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

.document-picker article {
  max-width: 800px;
  min-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 30px 15px 30px;
  color: #D9D9D9;
}
.document-picker li {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  width: 25%;
  height: auto;
  display: inline-block;
  height: 115px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 10px 0px 10px;
}

.document-picker h3 {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.document-thumb {
  font-size: 95px;
  color: #0f9d58;
  background: #FFF;
  border: 2px solid transparent;
  display: block;
}

.document-thumb:hover {
  cursor: pointer;
  border: 2px solid #0f9d58;
}

.doc-title {
  padding: 5px;
  float: left;

}

.doc-title input {
  font-size: 16px;
  padding: 4px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
}

.doc-title input:focus,
.doc-title input:hover {
  border-color: #D9D9D9;
}

.document-list-group {
  margin-bottom: 20px;
  display: block;
}

.document-list-title {
  margin: 10px 0px;
  display: block;
  font-size: 14px;
  color: #555;
}

.document-list-range {
  display: inline-block;
  flex: 1;
}
