// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #eeeeee;

  font-family: 'Roboto', sans-serif;
}

.document-list li {
  display: block;
  list-style-type: none;
  border-bottom: 1px solid #d9d9d9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #444;
  display: block;
  padding: 15px;
  padding-left: 47px;
  font-size: 14px;
  font-weight: 500;
  background: #FFF url("./spreadsheeticon.png") 15px center no-repeat;
  background-size: 17px;

}

.document-list li:hover {
  background-color: #f1faf6;
  cursor: pointer;
}


ul.document-list {
  display: block;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}


.document-list span {
  float: right;
  font-weight: normal;
  color: #999;
  margin-right: 100px;
}

.doc-header {
  height: 60px;
  display: block;
  background: #FFF;
}

.doc-home-link {
  float: left;
  height: 60px;
  background: #0f9d58 url("./spreadsheeticon.png") center center no-repeat;
  width: 40px;
  display: block;
}
.doc-home-link a {
  display: block;
  height: 60px;
}

.document-picker {
  background: #394242;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.document-picker h2 {
  margin: 0 0 15px 10px;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

.document-picker article {
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 30px 15px 30px;
  color: #D9D9D9;
}
.document-picker li {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  width: 25%;
  height: auto;
  display: inline-block;
  height: 115px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 10px 0px 10px;
}

.document-picker h3 {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.document-thumb {
  font-size: 95px;
  color: #0f9d58;
  background: #FFF;
  border: 2px solid transparent;
  display: block;
}

.document-thumb:hover {
  cursor: pointer;
  border: 2px solid #0f9d58;
}

.doc-title {
  padding: 5px;
  float: left;

}

.doc-title input {
  font-size: 16px;
  padding: 4px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
}

.doc-title input:focus,
.doc-title input:hover {
  border-color: #D9D9D9;
}

.document-list-group {
  margin-bottom: 20px;
  display: block;
}

.document-list-title {
  margin: 10px 0px;
  display: block;
  font-size: 14px;
  color: #555;
}
