// Place all the styles related to the Api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  position: absolute;
  text-align: center;
}

.login-form {
  margin: 0 auto;
  background: #f7f7f7;
  box-shadow: 0px 2px 4px #999;
  display: block;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 40px;
}

.login-form h1 {
  padding: 0;
  background: #e4e6e7 image-url('misc/profile.png') center 2px no-repeat;
  background-size: 100px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  font-size: 0;
}

.login-form button {
  width: 100%;
  background: linear-gradient(#4d8ffd, #4787ee);
  border: none;
  box-sizing: border-box;
  padding: 10px 0px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  font-family: Arial;
  outline: none;
}



.login-form button:hover {
  background: #367be9;
  cursor:pointer;

}

.login-form input {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

.login-form input:focus {
  border: 1px solid #4787ee;
}

.create-account {
  margin-top: 20px;
  font-family: Arial;
  color: #427fed;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

.guest-button {
  margin-top: 10px;
}

.error-list {
  color: red;
  margin-bottom: 10px;
  font-size: 12px;
}
