// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-badge {
  margin-left: 25px;
  position: relative;
}

.badge {
  background: #0288d1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-transform: lowercase;
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  display: block;
  border: 5px solid #0f9d58;
}
.badge:hover {
  cursor: pointer;
}

.active-badge {
  border-color: #0c7e46;
}

.user-badge-dropdown {
  position: absolute;
  background: #FFF;
  right: 0;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #555;

}

.user-badge-dropdown .badge {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}

.user-badge-dropdown span {
  display: block;
}

.user-badge button {
  border: 1px solid #D9D9D9;
  background: #f8f8f8;
  border-radius: 2px;
  padding: 7px 12px;
  color: #666666;
  font-size: 13px;
}

.user-name {
  white-space: nowrap;
  font-weight: bold;
  padding: 20px 20px 0px 20px;
  font-size: 12px;
}

.user-email {
  padding: 0px 20px 20px 20px;
  font-size: 12px;
  color: #666666;
}

.user-logout {
  background: #f5f5f5;
  border-top: 1px solid #c4c4c4;
  text-align: right;
  padding: 10px;
}
