
body {
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  display: block;
  position: relative;
  font-size: 0;
  background: #d9d9d9;
  overflow: scroll;
  height: 500px;
}

.grid {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 26px 0px 0px 50px;
  z-index: 5;
  border-collapse:collapse
}

.grid-row {
  display: block;
  white-space: nowrap;
}

.grid-cell {
  display: inline-block;
  width: 100px;
  height: 26px;
  font-size: 12px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  box-sizing: border-box;
  cursor: default;
  font-family: Arial;
}


.grid-row-labels {
  display: inline-block;
  position: absolute;
  top: 26px;
}

.grid-column-labels {
  display: block;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  left: 50px;
}

.grid-row-labels .grid-cell {
  display: block;
  width: 50px;
  height: 26px;
  border-right: 1px solid #ccc;
}

.grid-column-labels .grid-cell {
  border-bottom: 1px solid #ccc;
}

.grid-row-labels .grid-cell,
.grid-column-labels .grid-cell {
  position: relative;
  overflow: visible;
  background: #f3f3f3;
  font-family: Arial;
  text-align: center;
  line-height: 26px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.grid-blank-label {
  height: 26px;
  width: 50px;
  background: #f3f3f3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.selected-cell {
  background: #ecf3ff;
}

.grid-row-labels .selected-cell,
.grid-column-labels .selected-cell {
  background: #dddddd;
}

.active-cell {
  border: 2px solid #4285f4 !important;
  box-shadow: 0px 0px 10px #666;
  z-index: 10;
  background: #FFF;
}

textarea.cell-val-textarea {
  border: none;
  width:100%;
  height:100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: hidden;
}

.grid-cell p {
  padding: 0;
  margin: 0;
}
.grid-row-labels .resizer {
  height: 6px;
  width: 50px;
  bottom: -3px;
  left: 0;
}
.grid-row-labels .resizer:hover {
  cursor: ns-resize;
}

.grid-column-labels .resizer {
  width: 6px;
  height: 26px;
  right: -3px;
  top: 0px;
}

.grid-column-labels .resizer:hover {
  cursor: ew-resize;
}

.grid-column-labels .resizer::after {
  width: 6px;
  height: 26px;
  right: 0px;
  top: 0px;
  content: "";
  position: absolute;
}

.grid-row-labels .resizer::after {
  height: 6px;
  width: 50px;
  bottom: 0px;
  left: 0;
  content: "";
  position: absolute;
}

.resizer {
  background: transparent;
  display: block;
  position: absolute;
  z-index: 5;
}

.resizer:hover::after {
  background: #4285f4;
}

/*.grid-column-labels {
  overflow: visible;
}

.grid-column-labels .resizer:hover::after {
  content: "";
  width: 1px;
  height: 70vh;
  display: block;
  position: absolute;
  top: 0px;
  right: 2px;
  background: #4285f4;
  z-index: 10;
  overflow: visible;
}*/
