.logo {
  width: 270px;
  height: 50px;
  color: #F1F1F1;
  font-size: 40px;
}

/* Sheet Nav Component */

.sheet-nav {
  display: block;
  font-size: 0;
  border-top: 1px solid #AAA;
  background: #eee;

}

.sheet-nav ul {
  margin: 0 0 10px 50px;
  padding: 0 0 10px 0;
}

.sheet-nav li.active-sheet {
  background: #fff;
  color: #000;
  border: 1px solid #AAA;
  border-top: none;
}

.sheet-nav li {
  display: inline-block;
  font-size: 12px;
  font-family: Arial;
  border: 1px solid #CCC;
  border-top: none;
  padding: 0px 9px;
  margin: -1px 0px 0px 0px;
  list-style-type: none;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  float: left;
  color: #AAA;
}

.sheet-nav li:hover {
  cursor: pointer;
}

.sheet-nav li.sheet-nav-special {
  background: transparent;
  font-size: 22px;
  color: #6a6a6a;
  border: 1px solid transparent;
  margin-top: 4px;
  margin-right: 4px;
  padding: 0px 7px;
  height: 30px;
  line-height: 29px;
  font-weight: bold;
}

.sheet-nav li.sheet-nav-special:hover {
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  color: #000;
}

/* Formula Component */

.formula-bar {
  width: 100%;
  border-bottom: 1px solid #AAA;
  font-family: Arial;
  font-size: 0;
  display: flex;
  height: 25px;
  background: #FFF;
}

.formula-logo {
  display: inline-block;
  font-style: italic;
  font-size: 0px;
  width: 49px;
  text-align: center;
  background: image-url("grid/function.png") center center no-repeat;
  background-size: 19px;
}

.formula {
  flex-grow: 1;
  overflow: hidden;
}

.formula textarea {
  border: none;
  border-left: 1px solid #d9d9d9;
  width: 100%;
  height: 20px;
  line-height: 15px;
  margin-top: 2px;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
}

/* Cell Style Component */

.cell-style-wrapper {
  display: block;
  height: 35px;
  background: linear-gradient(#f4f4f4, #eeeeee);
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.style-bar {
  margin-left: 50px;
}

.style-group {
  margin: 0;
  padding: 3px;
  border-right: 1px solid #d9d9d9;
  height: 35px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.style-group-item {
  list-style-type: none;
  display: inline-block;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  height: 26px;
  width: 26px;
  position: relative;
  // opacity: .7;
}

.style-group-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.style-group-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.style-group-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px #BBB;
  border: 1px solid #ccc;
  // opacity: 1;
}

.style-group-item:hover .dropdown-arrow {
  border-left: 1px solid #CCC;
}

.style-group-item.active-style {
  background-color: #E4E4E4;
  border-color: #CCC;
  box-shadow: inset 0px 0px 2px #999;
}

.style-group-item.active-style:hover {
  box-shadow: inset 0px 0px 2px #999;
}

.style-group-item.active-style .dropdown-arrow {
  border-left: 1px solid #CCC;
}


/* Unique Button Styles */

.style-type-bold {
  background: image-url("grid/bold.png") center center no-repeat;
  background-size: auto 13px;
}

.style-type-italic {
  background: image-url("grid/italic.png") center center no-repeat;
  background-size: auto 12px;
}

.style-type-linethrough {
  background: image-url("grid/strikethrough.png") center center no-repeat;
  background-size: auto 14px;
}
.style-group-item.style-type-paintbucket {
  background: image-url("grid/paintbucket.png") 5px center no-repeat;
  background-size: auto 14px;
  width: 35px;
}
.style-group-item.style-type-fontcolor {
  background: image-url("grid/fontcolor.png") 5px center no-repeat;
  background-size: auto 14px;
  width: 35px;
}

.style-group-item.style-type-save {
  background: image-url("grid/savebutton.png") 5px center no-repeat;
  background-size: auto 14px;
}

.style-group-item.style-type-chart {
  background: image-url("grid/chart.png") 5px center no-repeat;
  background-size: auto 14px;
}

.style-group-item.style-type-fontsize {
  font-family: Arial;
  font-size: 12px;
  position: relative;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  width: 50px;

}
.style-group-item.style-type-fontfamily {
  font-family: Arial;
  font-size: 12px;
  position: relative;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  width: 90px;
  white-space: nowrap;
}

.dropdown-arrow {
  background: image-url("grid/dropdownarrow.png") center center no-repeat;
  background-size: 7px;
  display: block;
  float: right;
  width: 10px;
  height: 28px;
  border-left: 1px solid transparent;
}

.color-picker {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 28px;
}

.paintbucket-swatch {
  display: block;
  width: 20px;
  height: 4px;
  margin-top: 21px;
  margin-left: 2px;
  float: left;
}

.fontsize-dropdown {
  left: 0px;
  top: 28px;
  position: absolute;
  z-index: 20;
  margin: 0;
  padding: 0;
  background: #FFF;
  box-shadow: 0px 0px 10px #999;
  text-align: left;
}

.fontsize-dropdown li {
  list-style-type: none;
  background: #FFF;
  padding: 0px 30px 0px 10px;
  font-weight: normal;
}
.fontsize-dropdown li:hover {
  cursor: pointer;
  background: #EEE;
}


.chart-dropdown {
  position: absolute;
  z-index: 10;
  background: #FFF;
  top: 35px;
  right: 0px;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 10px #999;
}

.chart-options li {
  list-style-type: none;
  background: #FFF;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  display: flex;
  padding: 0;
  color: #666;
  padding: 10px;
}

.chart-dropdown-title {
  display: inline-block;
  flex: 1;
  padding: 0px 20px 0px 10px;
  text-align: right;
}

.chart-dropdown-input {
  display: inline-block;
  width: 50px;
  box-sizing: border-box;
}

.chart-options {
  font-family: Arial;
  font-size: 12px;
  position: relative;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  white-space: nowrap;
}

.chart-dropdown-input input,
.chart-dropdown-input select {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

.chart-dropdown-input select {
  text-transform: capitalize;
}

.chart-dropdown-submit {
  width: 100%;
  background: linear-gradient(#4d8ffd, #4787ee);
  border: none;
  box-sizing: border-box;
  padding: 3px 10px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  font-family: Arial;
  outline: none;
}

.chart-dropdown-submit:hover {
  background: #367be9;
  cursor:pointer;
}

.chart-dropdown-submit.chart-dropdown-delete {
  background: red;
  margin-left: 10px;
  width: 35px;
}

.chart-dropdown-header {
  display: flex;
  flex-direction: row;
}

.chart-dropdown-header .chart-dropdown-title {
  display: block;
  width: 100%;
}

.chart-dropdown-header .chart-dropdown-input {
  display: block;
  width: 100%;
}

.chart-options {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background: #F1F1F1;
  width: 200px;
  border-left: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
}

.floating-chart:focus {
  box-shadow: 0px 0px 10px #999;
}
